nav{
    position:static; /* or 'static' if you want it to scroll with the page */
    top: 0;
    left: 0;
    padding: 5px 20px;
    width: 100%;
    background-color: var(  --color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar-default,.navbar-nav, .navbar-login {
    display: flex; 
    align-items: center; 
}
.navbar-login{
    margin-left: auto;
    margin-right: 20px;
    gap: 5px;
}
.navbar-login>button{
    width:100%;
    white-space: nowrap;
    margin-top: 0;
}
.navbar-login .white{
    background-color: var(--color-white);
}
.navbar-login .green{
    margin-right: 20px;
}
.navbar-header{
    width: 71px;
    height: 60px;
    padding: 0;
}
.navbar-brand>img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
ul{
    list-style-type: none;
    gap:20px;
}
li>i{
    font-size:27.5px;
    margin-left: 5px;
    color: var(--color-black);
    transform: translateY(3px);
    margin: 0 5px;
    
}
li{
    font-size: 20px;
    font-family: var(--font-abeezee);
    font-weight: 400;
}
li:hover, li:hover i {
    color: var(--color-mediumseagreen-200); 
}
li>a{
    color: var(--color-black);
}